<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ShiroAPI - Home</title>
  <style>
    * {
      margin: 0;
      box-sizing: border-box;
      transition: all 0.35s linear;
      font-family: sans-serif;
    }

    body {
      height: 90vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #242424;
    }
    h2 {
      color: #fff;
    }
  </style>
</head>
<body>
  <h2>ShiroAPI</h2>
</body>
</html>