<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <style>
  :root {
    --dark-background-color: #111111;
    --dark-background-color-alt: #222222;
    --dark-trim-color: #333333;
    --dark-text-color: #eeeeee;
  }
  body {
    --background-color: #ffffff;
    --background-color-alt: #eeeeee;
    --trim-color: #dddddd;
    --text-color: #333333;

    --primary-color: #009578;
    --font-family: 'Quicksand', sans-serif;

    margin: 60px 0 0 0;
    color: var(--text-color);
    font-family: var(--font-family);
    background: var(--background-color);
  }

  @media (prefers-color-scheme: dark) {
    body.theme-auto {
      --background-color: var(--dark-background-color);
      --background-color-alt: var(--dark-background-color-alt);
      --trim-color: var(--dark-trim-color);
      --text-color: var(--dark-text-color);
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 10px;
    background: var(--background-color-alt);
    border-bottom: 1px solid var(--trim-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  }

  .header > *:not(:last-child) {
    margin-right: 10px;
  }

  .header-logo {
    display: inline-flex;
    align-items: center;
    padding: 5px 8px;
    border-radius: 10px;
  }

  .container {
    margin: 0 auto;
    max-width: 1000px;
    padding: 25px;
  }
  </style>

  <title>Kairo's Cafe CDN | Upload</title>
</head>
<body>
  <header class="header">
    <div class="header-logo">
      <h3 style="font-weight: bold;">CDN</h3>
    </div>
  </header>
  <div class="container">
    <h2 style="font-weight: bold;">File Upload</h2>
    <%= typeof message != 'undefined' ? message : '' %>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <div class="file-field input-field">
        <div class="btn grey">
          <span>File</span>
          <input name="image" type="file">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
      <button type="submit" class="btn">Submit</button>
    </form>
    <br>
    <img src="<%= typeof file != 'undefined' ? file : '' %>" class="responsive-img">
  </div>

  <script>
    document.body.classList.add(`theme-auto`);
  </script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
</html>
